*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

nav{
	position: fixed;
	background-color: #000;
	height: 70px;
	width: 100%;
	z-index: 1;
	margin-top: 0;
}

/*.header{
	background-color: #5e5757;
	padding: 20px 20px;
	margin-top: 0;
	width: 400px;
	text-align: center;
}*/

.tView{
	margin-left: : 50%;
}
.sidebar{
	position: fixed;
	left: 0;
	width: 200px;
	height: 100%;
	background:	#042331;
/*	display: inline-block;*/
}

.logo{
	font-size: 25px;
	color: white;
	font-weight: bold;
	left: 5%;
	line-height: 70px;
	position: relative;
}
ul{
	position: relative;
	float: right;
	text-align: center;
}
ul li{
	display: inline-block;
	line-height: 70px;
	margin: 0 5px;
}
ul li a{
	text-decoration: none;
	color: white;

	font-size: 17px;
}

footer{
	background-color: black;
	height: 50px;
	width: 100%
}
.footer_txt{
	text-align: center;
	color: white;
	top: 30%;
	font-size: 12px;
	position: relative;
}
.d-flex table{
	margin: 1em 1em;
	align-items: right;
	padding-top: 100px;
	top: 300px;
	margin-left: 250px;
}

/*form*/
.container{
	width: 100%;
	border-radius: 4px;
	overflow: hidden;
}
.homecontainer{
	width: 100%;
	border-radius: 4px;
	overflow: hidden;
}
/*.table{
	border:  3;
}*/

.loginform{
	margin-left: 35%;
	width: 400px;
	margin-top: 80px;
	background-color: #d8d1d1;
	margin-bottom: 10px;
}
.img{
	height: 50%;
	top: 50%;
	left: 50px;
}

.header{
	background-color: #5e5757;
	padding: 20px 20px;
	margin-top: 0;
	width: 400px;
	text-align: center;
}
.form{
	padding: 20px 40px;
}
.form-control{
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	margin-top: 10px;
}
.form-control label{
	display: inline-block;
	margin-bottom: 2px;
}
.form-control input{
	display: block;
	width: 100%;
	padding: 5px;
	border-radius: 4px;
	border:	2px solid #d8d1d1;
}
/*validation*/
.form-control.success input{
	border: 2px solid green;
}
.form-control.error input{
	border: 2px solid red;
}
/*end*/
.form-control small{
	position: absolute;
	margin: 3px;
	visibility: hidden;
}
button{
	background-color: rgb(4,4,95);
	color: #fff;
	padding: 10px 10px;
	width: 100%;
	border-radius: 4px;
	border:	2px solid rgb(4,4,95);
	cursor: pointer;
}

/*endform*/
/*error success register*/

.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

.success {
   background: #D4EDDA;
   color: #40754C;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

/*enderrsucc*/